canvas {
      border: 0px;
      background-color: black;
      margin-left: 62px;
      margin-top: 90px;
    }
    body {
      margin: 0;
      padding: 0;
      touch-action: manipulation;
      background-color: black;
    }
#joystick {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#joystick-row1, #joystick-row2, #joystick-row3 {
  display: flex;
  justify-content: center;
}

#joystick-space {
  width: 70px;
  height: 70px;
}

.joystick-button {
  width: 70px;
  height: 70px;
  margin: 0px;
  border-radius: 0px;
  font-size: 60px;
  background-color: black;  
}
    #lives {
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      font-size: 30px;
      font-family: 'Press Start 2P', cursive;
    }
